<div class="subscribe{{#if is_popup}} popup{{/if}}">
    <a href="https://twitter.com/rsrychro" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="icon icon-twitter"></i>
        <span class="subscribe-text">Twitter</span>
    </a>
    <a href="https://github.com/KevinLaux" class="subscribe-link"
        target="_blank" rel="noopener noreferrer">
        <i class="icon icon-github"></i>
        <span class="subscribe-text">Github</span>
    </a>
    <a href="https://www.linkedin.com/in/kevinlaux/" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="icon icon-spotify"></i>
        <span class="subscribe-text">Linkedin</span>
    </a>
</div>
